*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --header-bg-color: #e61286;
    --link-bg-color: #e4278f;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height: 8vh;
    background-color: var(--header-bg-color);
    
}
.logo{
    width: 120px;
    height: auto;
}
.logo a img{
    width: 100%;
    height: auto;
}
.nav-links{
    display:flex;
    width: 40%;
    justify-content: space-around;

}
.nav-links li{
    list-style-type: none;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 14px;
}
.burger{
    display: none;
    cursor:pointer;
}
.burger div{
    width: 25px;
    height:3px;
    background-color: #fff;
    margin:5px;
    transition: all 0.5s ease;
}
@media screen and (max-width: 1250px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top:8vh;
        background-color: var(--link-bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
        opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.footer {
    background: #02CAB1;
    background-image: linear-gradient(to right, #1D55B5, #030562);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer .content {
    flex: 5;
    display: flex;
    flex-wrap: wrap;
}

.footer .content .logodes {
    flex: 2;
}

.footer .content .logodes img {
    height: 40px;
    padding: 50px 50px 0px;
}

.footer .content .logodes p {
    padding: 15px 25px 50px 50px;
    font-family: segoe_ui_regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #fff;
}

.footer .content .info {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.footer .content .info p {
    padding: 65px 0px 20px 0px;
    font-family: segoe_ui_bold, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.footer .content .info a {
    cursor: default;
    text-decoration: none;
    font-family: segoe_ui_regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #fff;
    /* Text Hover Effect */
    /* 1st */
    /* background-image: linear-gradient(#29C671, #29C671);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms; */
}

.footer .content .info a:hover {
    color: #29C671;
    /* 2nd */
    /* background-size: 100% 100%;
    background-position-x: left; */
}

.footer .content .about {
    flex: 3;
    padding-left: 50px;
}

.footer .content .about .text {
    display: flex;
    flex-direction: column;
}

.footer .content .about .text p {
    padding: 65px 30px 20px 0px;
    font-family: segoe_ui_bold, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.footer .content .about .text a {
    cursor: default;
    text-decoration: none;
    font-family: segoe_ui_regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #fff;
}

.footer .content .about .text a:last-child {
    padding-bottom: 20px;
}

.footer .content .about .text a:hover {
    color: #29C671;
}

.footer .content .about .social {
    padding: 5px 0px 30px 0px;
}

.footer .content .about .social img {
    margin: 0px 10px 0px 0px;
    cursor: default;
    background: rgba(153, 252, 255, 0.699);
    border: 8px solid rgba(153, 252, 255, 0.11);
    border-radius: 50%;
    height: 25px;
    width: 25px;
}


/* To add animation effect on social icons */


/* .icon {
    display: inline-block;
    animation: float 5s ease-in-out infinite;
}
.tw {
    animation-delay: 1s;
}
.yu {
    animation-delay: 2s;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
} */

.footer .content .about img:hover {
    background: #29C671;
    border: 8px solid #29C671;
    transition: 0.3s;
}

.footer .credit {
    flex: 1;
    background: #375568;
}

.footer .credit p {
    text-align: center;
    padding: 15px 0px;
    font-family: segoe_ui_regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #9FB5A6;
}

@media (max-width: 600px) {
    .header .button button {
        display: none;
    }
}

@media (max-width: 950px) {
    .footer .content {
        flex: 5;
        display: flex;
        flex-direction: column;
    }
    .footer .content .logodes p {
        padding-bottom: 20px;
    }
    .footer .content .info p {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .footer .content .about p {
        padding-top: 10px;
    }
}

@media (max-width: 1250px) {
    .footer .content {
        display: flex;
    }
    .footer .content .logodes {
        flex: 2;
    }
    .footer .content .info {
        flex: 1;
    }
    .footer .content .about {
        flex: 1;
    }
}